@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.writing-vertical-rl {
  writing-mode: vertical-rl;
}

.transition-500 {
  transition: .5s;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.blue-gradient-bg {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600
}

.head_text {
  @apply text-4xl sm:text-5xl font-extrabold leading-[1.15] text-black ;
}

.title{
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}
.title::after{
  content: '';
  position: absolute;
  top: 50%;
  width: 72px;
  height: 2px;
  background-color: #000;
  margin-left: .25rem;
}